.available-hours {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.available-hours .btn {
  margin: 5px;
  background-color: white;
  color: black;
  border: solid 1px lightgray;
  box-shadow: 0px 15px 20px rgba(211, 211, 211, 0.4);
  transition: all 0.3s ease 0s;
}

.available-hours .btn:hover {
  transform: translateY(-7px);
}

.available-hours .selected-time {
  background-color: #17a2b8 !important;
  color: white;
}
