.c-menu .navbar {
  padding: 0;
  height: min-content;
  background-color: rgb(53, 97, 105) !important;
}
.c-menu .navbar a, .navbar-text{
color: whitesmoke !important;
}
.c-menu .nav-link:hover {
  background-color: rgba(108, 225, 243, 0.3) !important;
}
.c-menu .navbar-text {
  margin-right: 10px;
}
/* .c-menu .navbar {
  height: 50px;
  background-color: #90bbc1;
  font-size: 17px;
} */

.c-menu .divider {
  margin-left: 4px;
  margin-right: 4px;
  height: 20px;
  margin-top: 10px;
  border-left: solid 1px white;
}
