.p-schedule-appointment {
  background-color: #f1f5f8;
  padding-top: 30px;
}

.p-schedule-appointment .cover-image {
  background-image: url("./images/schedule-appointment.jpg");
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px -150px 60px -40px rgb(0 0 0 / 60%);
  border-radius: 20px;
}
.p-schedule-appointment .cover-image .page-title {
  padding-bottom: 10px;
  text-align: right;
  padding-right: 50px;
  position: absolute;
  top: 250px;
  color: white;
}
.p-schedule-appointment .cover-image .page-title h1,
h2 {
  font-size: 27px;
}

.p-schedule-appointment .cover-image .page-title h2 {
  color: rgb(255 255 255 / 85%);
  /* cursor: pointer; */
}

.container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  height: 500px;
  /* margin-top: 40px; */
  /* height: 500px; */
}

.p-schedule-appointment .page-details {
  width: 100%;
  background-color: white;
  /* padding-bottom: 10px; */
  border-radius: 20px;
  border: solid #ffffff 1px;
  margin-bottom: 20px;
  /* padding-right: 20px; */
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
}

.p-schedule-appointment .page-details-item {
  /* margin-top: 10px;
  margin-left: 10px; */
  text-align: right;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
}

.trl-left {
  direction: rtl !important;
  text-align: right !important;
}

.p-schedule-appointment .page-details-item .business-time {
  margin-right: 10px;
}

.p-schedule-appointment .page-details-item .business-map {
  border: 0;
  height: 300px;
}

/* aside {
  flex: 1;
  min-width: 360px;
}

section {
  flex: 2;
  margin-right: 10px;
  height: 450px;
  min-height: 450px;
} */

.p-schedule-appointment:first-child{
  flex: 1;
}
.p-schedule-appointment:nth-child(2n){
  flex: 2;
}

.p-schedule-appointment .appointment-details-container {
  background-color: white;
  border-radius: 20px;
  height: 450px;
  overflow: hidden;
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 30px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
}

.p-schedule-appointment .appointment-details-container h4 {
  font-size: 30px;
  text-align: center;
  color: black;
}

.p-schedule-appointment .appointment-details-container .next-btn {
  background-color: white;
  border: solid 2px #17a2b8;
  color: black;
  margin-bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-top: auto;
}

.p-schedule-appointment .appointment-details-container .back-btn {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border: none;
  color: black;
}

.p-schedule-appointment .appointment-details-container .next-btn:hover {
  background-color: #17a2b8;
  box-shadow: 0px 15px 20px rgba(121, 197, 226, 0.4);
  transform: translateY(-7px);
  color: white;
}