.p-home {
  width: 100%;
  text-align: center;
  position: relative;
}
.p-home .background-cover {
  background: url("./images/calendar-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.p-home h1 {
  font-size: 80px;
  font-family: Amatic_Bold;
  z-index: 100px;
}
.p-home h4 {
  font-size: 30px;
  font-family: Amatic;
}
.p-home h1,
h4 {
  color: white;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Amatic_Bold;
  src: url("../../Styles/Amatic_SC/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: Amatic;
  src: url("../../Styles/Amatic_SC/AmaticSC-Regular.ttf");
}
