.c-hours-modal {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Alef;
}

.c-hours-modal .modal-header {
  justify-content: center;
  font-size: 24px;
}

@font-face {
  font-family: Alef;
  src: url("../../Styles/Alef/Alef-Regular.ttf");
}
