.p-settings {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-settings nav {
  border-bottom: solid 1px lightgray;
}
.p-settings .nav-link {
  border: none;
  font-size: 30px;
  padding-right: 40px;
  padding-left: 40px;
  color: grey;
}

.p-settings .nav-link.active {
  border-bottom: solid 3px black;
  font-weight: bold;
}

.p-settings .c-user-details,
.c-calendar-details,
.c-business-services, .c-day-hours {
  padding-top: 20px;
}
.p-settings .c-user-details .form-group input, .c-day-hours {
  width: 500px;
}

.p-settings .pic-image-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.p-settings img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.p-settings .c-calendar-details .form-group input,
.c-business-services .form-group input {
  width: 300px;
}

.p-settings .btn-save {
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.p-settings .display {
  display: inline;
}

.p-settings .validation-error {
  color: #dc3545;
  font-size: 80%;
  margin-top: 0.25rem;
  width: 100%;
  display: none;
}
