.c-customer-details {
  margin: 20px;
  /* height: 600px; */
}


@media screen and (min-width: 601px) {
  .c-customer-details { 
    font-size: 16px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .c-customer-details {
    font-size: 14px;
    margin: 0;
    overflow-y: scroll;
  }
}