.c-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  direction: ltr;
  background-color: rgb(53, 97, 105) !important;
}

.c-footer .navbar {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.c-footer .dev{
  color: red !important;
}