.p-create-calendar {
  width: 500px;
  margin: 50px auto;
}

.p-create-calendar .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-create-calendar .card-header {
  text-align: center;
}

.p-create-calendar .pic-image-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.p-create-calendar form img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.p-create-calendar .validation-error {
  color: #dc3545;
  font-size: 80%;
  margin-top: 0.25rem;
  width: 100%;
  display: none;
}

.p-create-calendar .display {
  display: inline;
}

/* .p-create-calendar .tor-btn {
  color: white;
  border: solid 1px rgb(53, 97, 105);
  background-color: rgb(53, 97, 105);
  transition: all 0.3s ease 0s;
}

.p-create-calendar .tor-btn:hover {
  background-color: rgb(53, 97, 105);
  border: solid 1px rgb(53, 97, 105);
  color: white;
  transform: translateY(-5px);
} */
