.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
}

.services .badge {
  width: 400px;
  font-size: 24px;
  margin-top: 15px;
  border: solid 2px #17a2b8;
  cursor: pointer;
}

.services .badge:hover {
  background-color: #17a2b8;
}

.services > .header {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.services > .header > h4 {
  flex: 1 1 auto;
}

.services > .header .count-time > label {
  margin: 6px;
  font-size: 20px;
}

.selected-service {
  background-color: #17a2b8 !important;
  color: white;
}
