.p-signup {
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.p-signup .card {
  padding: 30px;
  border: none;
}

.p-signup .txt_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), -12px 0 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
}

.p-signup .txt_card h1, .subtitle {
  font-weight: bold;
  text-align: center;
}

.p-signup .img_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./images/booking-event-calendar_23-2148551245.jpg");
  width: 65%;
  background-position: center;
  background-repeat: no-repeat;
}
.p-signup .txt_card .card-text {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 400px;
  padding-bottom: 20px;
  position: relative;

}

.p-signup .txt_card .card-text .form-group {
  font-size: 14px;
}
.p-signup .txt_card .card-text .form-control{
  border: solid 2px lightgray;
  font-size: 14px;
}
.p-signup .txt_card .card-text .form-label {
  font-weight: bold;
}
.p-signup .txt_card .btn {
  background-color: rgb(114, 167, 170);
  font-weight: bold;
  width: 100%;
  border: none;
}
.p-signup .back-btn {
  background-color: white !important;
  border: none;
  color: black !important;
  display: flex;
  justify-content: flex-start;
}

.p-signup .txt_card .btn-next{
  /* margin-top: 50px; */
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .p-signup .img_card {
    display: none;
  }
  .p-signup .txt_card{
   width: 100%;
   height: 600px;
  }
}

@media only screen and (min-width: 768px) {
  .p-signup .txt_card{
   height: 500px;
  }
}