.p-signup {
  width: 500px;
  margin: 50px auto;
}

.p-signup .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-signup .card-header {
  text-align: center;
}